<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>kite</contextName>
	<!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	<!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
	<appender name="kitelogs"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${kite.log.path}/kite.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${kite.log.path}/kite.log.%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="springlogs"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${kite.log.path}/kite-srping.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${kite.log.path}/kite-srping.log.%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<!--精确设置每个包下面的日志  -->
	<logger name="com" level="DEBUG">
		<appender-ref ref="kitelogs" />
	</logger>

	<logger name="org.springframework" level="ERROR">
		<appender-ref ref="springlogs" />
	</logger>
	<logger name="org.springframework.web" level="ERROR">
		<appender-ref ref="springlogs" />
	</logger>

	<!-- Hibernate显示sql参数值 -->
	<!--<logger name="org.hibernate.type.descriptor.sql.BasicBinder"  level="TRACE" />-->
	<!--<logger name="org.hibernate.type.descriptor.sql.BasicExtractor"  level="DEBUG" />-->

	<!-- mybatis显示sql参数值 -->
	<logger name="com.zhong.kite.mapper.*" level="DEBUG" />

	<!-- 定义了ERROR和INFO级别的日志，分别在STDOUT/mavenProjectlogs输出 -->
	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="kitelogs" />
	</root>
</configuration>